body{
	/*background: #232323;*/
    /*background: #253945;*/
	}

.simple-player-container {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
	height:17px;
}
.simple-player-container > div > ul {
    margin: 0;
    padding-left: 0;
}

.container-deco {
    background-color: rgba(0,0,0,0.2);
    padding: 0px 12px 17px 0px;
}

.simpleplayer-play-control,
.simpleplayer-stop-control {
    display: block;
    width: 30px;
    height: 33px;
    top: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10px;
}

.simpleplayer-play-control {
    background-image: url('../images/play.svg');
}
.simpleplayer-play-control:hover {
   /* background-image: url('../images/play.svg');*/
}

.simpleplayer-stop-control {
    background-image: url('../images/pause.svg');
}

.simpleplayer-stop-control:hover {
    /*background-image: url('../images/pause.svg');*/
}

.playbtn-container {
    display: inline-block; 
    padding: 0;
    margin-right: -5px;
}